#number{
    font-size: 300px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    text-align: center;
}
#generate-btn{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
